{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Profile Information</title>
    <link rel="stylesheet" href="{% static 'css/foodstuffs.css' %}">
</head>
<style>
    .as {
        text-decoration: none;
        color: black;
        font-size: larger;
    }
    
    .as:hover {
        background-color: gray;
    }
    
    .main {
        margin: auto;
        width: 30%;
        padding-top: 3vw;
        padding-left: 3vw;
        font-weight: bolder;
    }
</style>

<body>
    <header>My Food Recipe!</header>
    <div class="menu">

        <ul class="ul1">
            <li class="li1"><a class="lia" href="/">Home</a></li>


            <li class="li1"><a class="lia" href="/foodstuffs/about">About</a></li>

        </ul>

    </div>
    <div class="main">
        <h1>Welcome {{userq.user_name}} !</h1>
        <h3>All recipes made by you are as follows :</h3>
        <table>

            {% for some in q %}
            <tr>
                <td><a class="as" href="/foodstuffs/{{some.id}}">{{some.recipe_name}}</a></td>
            </tr>

            {% endfor %}
        </table>

    </div>

</body>

</html>