{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{q.recipe_name}}</title>
</head>
<link rel="stylesheet" href="{% static 'css/foodstuffs.css' %}">
<style>
    .content {
        padding-left: 3vw;
        padding-top: 3vw;
        margin: auto;
        width: 40%;
        font-weight: bolder;
        color: rgb(73, 71, 71);
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: blue
    }
</style>

<body>
    <header>My Food Recipe!</header>
    <div class="menu">

        <ul class="ul1">
            <li class="li1"><a class="lia" href="/">Home</a></li>
            {% if islog == True %}
            <li class="li1"><a class="lia" href="makerecipe">Make a Recipe!</a></li>
            <li class="li1"><a class="lia" href="profile">Profile ({{userq.user_name}})</a></li>
            <li class="li1"><a class="lia" href="logout">Log out</a></li>

            {% else %}
            <li class="li1"><a class="lia" href="login">Log in</a></li>
            {% endif %}



            <li class="li1"><a class="lia" href="about">About</a></li>

        </ul>

    </div>
    <div class="content">
        <h1>{{q.recipe_name}}</h1>
        <p>Recipe by {{q.user.user_name}} . Published on {{q.recipe_publish}}. Lasted edited on {{q.recipe_edit}}</p>
        <img src="{{q.recipe_img.url}}" alt="Recipe Image" height="300vw" width="500vw"> </div>

    <div class="content">
        <table>



            <tr>
                <td></td>
                <td>{% if islog == True %} {% if userq.user_name == q.user.user_name %}
                    <a href="editrecipe ">Edit Recipe</a> {% endif %} {% endif %}</td>
            </tr>


            <tr>
                <td>Description</td>
                <td>{{q.recipe_description}}</td>
            </tr><br>
            <tr>
                <td>Ingredients</td>
                <td>{{q.recipe_ingredients}}</td>
            </tr>

            <tr>
                <td>Steps</td>
                <td>{{q.recipe_steps}}</td>
            </tr>






        </table>






        </table>





    </div>

</body>











</html>